<!doctype html>
<html lang="en">
  <head>
    <title>Signup</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/login.css">

    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      .img {
        background-size: cover;
        background-position: center;
      }
    </style>

  </head>
  <body class="img js-fullheight" style="background-image: url(/images/login.jpg);">
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-5">
            <!-- <h2 class="heading-section">Login</h2> -->
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4">
            <div class="login-wrap p-0">
                <h3 class="mb-4 text-center">Sign Up</h3>
                <ul>
                  <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
                  <li><%= error.message %></li>
                  <% }) %> <% } %>
                </ul>
                <form action="/users/register" method="POST" class="signin-form">
                  <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Full Name" required>
                  </div>
                  <div class="form-group">
                    <input type="text" name="email" class="form-control" placeholder="Email" required>
                    <!-- <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span> -->
                  </div>
                  <div class="form-group">
                    <input id="password-field" name="password"  type="password" class="form-control" placeholder="Password" required>
                    <!-- <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span> -->
                  </div>
                  <div class="form-group">
                    <input id="password-field" name="password2" type="password" class="form-control" placeholder="Retype Password" required>
                  </div>

                  <div class="form-group">
                    <label for="account-type">Account Type:</label>
                    <select id="account-type" name="accountType" class="form-control">
                        <option value="Member">Member</option>
                        <option value="Trainer">Trainer</option>
                    </select>
                </div>

                  <div class="form-group">
                    <button type="submit" class="form-control btn btn-primary submit px-3">Create Account</button>
                  </div>
                  <div class="form-group d-md-flex">
                    <div class="w-50">
                      <label class="checkbox-wrap checkbox-primary">Remember Me
                        <input type="checkbox" checked>
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="w-50 text-md-right">
                      <a href="/users/login" style="color: #fff">Login</a>
                    </div>
                  </div>
                </form>
                <!-- <p class="w-100 text-center">&mdash; Or Sign In With &mdash;</p> -->
                <div class="social d-flex text-center">
                  <a href="index.html" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span>Back To Home Page</a>
                  <!-- <a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Twitter</a> -->
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>

    <script src="js/login.js"></script>

  </body>
</html>
